* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}

#page-title {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 18px;
    font-family: monospace;
}
#main-nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0px;
}

#main-nav li{
    display: inline;
    margin-right: 10px;
}

#main-nav a{
    color: black;
    background-color: green;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

#main-nav .blog{
    background-color: red;
}